%h3 #{@location.name} #{@course.name} Students
%br
= link_to "Add Student", new_location_course_student_path(@location, @course)
%hr
-@student.each do |student|
    %br
    =link_to student.name, location_course_student_path(@location, @course, student)
    |
    =link_to "edit", edit_location_course_student_path(@location, @course, student)

%br
%hr
%br
= link_to "Go Back To #{@location.name} Courses", location_path(@location)